{config_load file="$language/lang_$language.conf" section="login"}
{config_load file="$language/lang_$language.conf" section="newsletter"}
<h1>{#heading_login#}</h1>
{if $error_message}<div class="errormessage">{$error_message}</div>{/if}
{if $success_message}<div class="infomessage">{$success_message}</div>{/if}
{if $FORM_EMAIL_VERIFY_RESEND}
<div class="highlightbox">
  <h1>{#title_email_verify#}</h1>
  {$FORM_EMAIL_VERIFY_RESEND}
  <p>{#text_email_verify_resend#}</p>
  <p>{$BUTTON_EMAIL_VERIFY_RESEND}</p>
  {$FORM_END}
  <br />
  {$FORM_EMAIL_VERIFY_CORRECT}
  <p>{#text_email_verify_correct#}</p>
  <table width="100%" border="0" cellspacing="4" cellpadding="0">
    <tr>
      <td style="white-space:nowrap;"><strong>{#text_email_verify_new#}</strong></td>
      <td>{$INPUT_EMAIL_VERIFY_NEW}</td>
    </tr>
    <tr>
      <td style="white-space:nowrap;"><strong>{#text_email_verify_confirm#}</strong></td>
      <td>{$INPUT_EMAIL_VERIFY_CONFIRM}</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>{$BUTTON_EMAIL_VERIFY_CORRECT}</td>
    </tr>
  </table>
  {$FORM_END}
</div>
<br />
{/if}
<div class="highlightbox">
  <h1>{#title_returning#}</h1>
  {$FORM_ACTION}
  <p>{#text_returning#}</p>
  <br />
  {#text_after_login#}
  <table width="100%" border="0" cellspacing="4" cellpadding="0">
    {if $VVIMG}
      <tr class="vvcode_img">
        <td style="white-space:nowrap;"><strong>{#text_sec_code#}:</strong></td>
        <td>{$VVIMG}</td>
        <td>&nbsp;</td>
      </tr>
    {/if}
    {if $INPUT_CODE}
      <tr class="vvcode_sec">
        <td style="white-space:nowrap;"><strong>{#text_sec_code#}:</strong></td>
        <td>{$INPUT_CODE}</td>
        <td>&nbsp;</td>
      </tr>
    {/if}
    <tr>
      <td style="white-space:nowrap;"><strong>{#text_email#}</strong></td>
      <td>{$INPUT_MAIL}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td style="white-space:nowrap;"><strong>{#text_password#}</strong></td>
      <td>{$INPUT_PASSWORD}</td>
      <td>{$BUTTON_LOGIN}</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="2"><a href="{$LINK_LOST_PASSWORD}">{#text_lost_password#}</a></td>
    </tr>
  </table>
  {if $MODULE_login_options}{$MODULE_login_options}{/if}
  {$FORM_END}
</div>
{if $account_option == 'account' or $account_option == 'both'}
<br />
<div class="highlightbox">
      <h1>{#title_new#}</h1>
      <p>{#text_new#}</p>
      <p>{$BUTTON_NEW_ACCOUNT}</p>
</div>
{/if}
{if $account_option == 'both' or $account_option == 'guest'}
<br />
<div class="highlightbox">
      <h1>{#title_guest#}</h1>
      <p>{#text_guest#}</p>
      <p>{$BUTTON_GUEST}</p>
</div>
{/if}