{config_load file="$language/lang_$language.conf" section="error_handler"}
<h1>{$ERROR}</h1>
<p>{#text_search_again#}</p>
{$FORM_ACTION}
<div class="highlightbox"> 
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td style="width:130px; white-space:nowrap;"><span class="midi"><strong>{#text_search#}</strong></span></td>
      <td style="width:300px;">{$INPUT_SEARCH}</td>
      <td style="padding-left:10px;">{$BUTTON_SUBMIT}</td>
    </tr>
  </table>
</div>
{$FORM_END}
<div class="button_left">{$BUTTON}</div>