{if count($REQUIREMENT_ARRAY) > 0}
  <div class="info_require_box">
    <h2>{$smarty.const.TEXT_ERROR_REQUIREMENTS}</h2>
    <div class="info_require_list">
      <div class="info_require_line head">
        <span class="icol_1">{$smarty.const.TEXT_ERROR_REQUIREMENTS_NAME}</span>
        <span class="icol_2">{$smarty.const.TEXT_ERROR_REQUIREMENTS_VERSION}</span>
        <span class="icol_3">{$smarty.const.TEXT_ERROR_REQUIREMENTS_MIN}</span>
        <span class="icol_4">{$smarty.const.TEXT_ERROR_REQUIREMENTS_MAX}</span>
      </div>
      {foreach name=aussen item=requirement from=$REQUIREMENT_ARRAY}
        <div class="info_require_line{if $requirement.status === true} stat_ok{elseif $requirement.status === null} stat_unknown{else} stat_fail{/if}">
          <span class="icol_1">{$requirement.name}</span>
          <span class="icol_2">{if $requirement.version != ''}{$requirement.version}{else}&nbsp;{/if}</span>
          <span class="icol_3">{if $requirement.version_min != ''}{$requirement.version_min}{else}&nbsp;{/if}</span>
          <span class="icol_4">{if $requirement.version_max != ''}{$requirement.version_max}{else}&nbsp;{/if}</span>
        </div>
      {/foreach}
    </div>
  </div>
{/if}

{if count($PERMISSION_ARRAY.file_permission) > 0}
  <div class="info_red_box">
    <h2>{$smarty.const.TEXT_ERROR_PERMISSION_FILES}</h2>
    {foreach name=aussen item=files from=$PERMISSION_ARRAY.file_permission}
      {$files}<br />
    {/foreach}
  </div>
{/if}

{if count($PERMISSION_ARRAY.folder_permission) > 0}
  <div class="info_red_box">
    <h2>{$smarty.const.TEXT_ERROR_PERMISSION_FOLDER}</h2>
    {foreach name=aussen item=files from=$PERMISSION_ARRAY.folder_permission}
      {$files}<br />
    {/foreach}
  </div>
{/if}

{if count($PERMISSION_ARRAY.rfolder_permission) > 0}
  <div class="info_red_box">
    <h2>{$smarty.const.TEXT_ERROR_PERMISSION_RFOLDER}</h2>
    {foreach name=aussen item=files from=$PERMISSION_ARRAY.rfolder_permission}
      {$files}<br />
    {/foreach}
  </div>
{/if}

{if isset($UNLINKED_ARRAY.error.files) && count($UNLINKED_ARRAY.error.files) > 0}
  <div class="info_red_box">
    <h2>{$smarty.const.TEXT_ERROR_UNLINK_FILES}</h2>
    {foreach name=aussen item=files from=$UNLINKED_ARRAY.error.files}
      {$files}<br />
    {/foreach}
  </div>
{/if}

{if isset($UNLINKED_ARRAY.error.dir) && count($UNLINKED_ARRAY.error.dir) > 0}
  <div class="info_red_box">
    <h2>{$smarty.const.TEXT_ERROR_UNLINK_FOLDER}</h2>
    {foreach name=aussen item=files from=$UNLINKED_ARRAY.error.dir}
      {$files}<br />
    {/foreach}
  </div>
{/if}

{if isset($backup_content)}
  <br />
  <h2>{$smarty.const.TEXT_BACKUP_DIFF}</h2>
  {foreach name=aussen item=backup from=$backup_content}
    <div class="downloadmessage">
      <a href="{$backup.LINK}">
        {$backup.NAME}<br />
        <span class="dl_nowrap"><strong>{$smarty.const.TEXT_DB_SIZE}:</strong> {$backup.SIZE}</span> | <span class="dl_nowrap"><strong>{$smarty.const.TEXT_DB_DATE}:</strong> {$backup.DATE}</span>
      </a>
    </div>
  {/foreach}
  <p>{$smarty.const.TEXT_BACKUP_DIFF_UNZIP}</p>

{/if}
